
#photobox{
    width:150px;
    height:150px;
    top: 50px;
    left: 50px;
    
    
}
#textbox{
    width:600px;
    height: 500px;
    position: relative;
    z-index: 2;
    bottom: 70px;
    left:20px;
   
}